body, html {
    height: 100%;
    background-color: black;
    
  }
  
#background {
  /* The image used */
  background-image: url("/images/hogwarts.jpg");
  /* Full height */
  height: 100%;

  position: relative;


  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;

  opacity: 1;
}

#logo{
  height: 200px;
  width: 200px;

  position: absolute;
  top: 30px;
  left: 43.5%;
  text-align: center;
  opacity: 1;

}

/*----------FRONTPAGE----------*/
  
#title{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  opacity: 1;
  font-family: 'Harry Potter', sans-serif;
  color: black;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  height: 110%;
  align-items: center;
  border-radius: 4px;
  transition-duration: 0.4s;
}

#leftB{
  background-color: rgb(211, 166, 37);
  border:black;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
}

#rightB{
  background-color: rgb(211, 166, 37);
  border:black;
  border-radius: 4px;
  border-width: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.mainbuttons{
  color: black;
  text-decoration: none;
  font-family: 'Harry Potter', sans-serif;
  border-radius: 4px;
}

#leftB:hover{
  opacity: 0.6;
}
#rightB:hover{
  opacity: 0.6;
}

/*----------CREATE----------*/
h1{
    color: black;
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    font-size: 20px;
    text-align: center;
}
#logo2{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30px;
  left: 30px;
  text-align:left;

}
#full-container{
  display: inline-block;
  background-color: #740001;
  margin-left: 40%;
  margin-top: 5%;
  border: 3px rgb(211, 166, 37);
  border-radius: 4px;
  padding: 10px;
}

.lbl{
  color: black;
  text-decoration: none;
  font-family: 'Harry Potter', sans-serif;
  font-size: 14px;
  text-align: center;
}

/*----------SORTING----------*/

#notification{
  display: inline-block;
  background-color: #740001;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20%;
  margin-left: 38%;
  
  border-radius: 5px;
}